/* ------------------ GLOBAL ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    color: #f6f6f6;
    word-spacing: 0.5rem;
}

html, body {
    height: 100%;
    min-width: 100%;
}

body {
    box-sizing: border-box;
    background-color: #1F3347;
    height: 100vh;
}


/* ------------------ HEADER ------------------ */

header {
    background-color: #004965;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-left: 3rem;
    animation: show-next 1s ease-in-out 1 forwards;
}

.header__button {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 1.5rem;
}

.header__button:hover {
    transform: scale(1.2);
}

/* ------------------ MAIN ------------------ */

main {
    display: flex;
    align-items: center;
    padding: 0 7rem;
    height: calc(100vh - 5rem);
    position: relative;
}

/* ........ TEXT ........ */

.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 7rem;
    opacity: 0;
    padding-bottom: 7rem;
}


.content__title {
    font-size: 3rem;
}

.content__text {
    font-size: 2rem;
    width: 50%;
    text-align: justify;
}


/* ........ WATER WAVE ........ */

#water__wave {
    width: 40rem;
    height: 40rem;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 20rem);
    left: calc(50% - 19rem);
    background-color: #08668b;
    z-index: 1;
    border-radius: 50%;
    border: solid 3px #08668b;
    animation: appear 1s ease-in-out 1 forwards;
}

#water__wave::before {
    content: "";
    position: absolute;
    background-color: #1899cc;
    width: 100%;
    height: 100%;
    border-radius: 35%;
    animation: wave 13s ease-in infinite;
}

#water__wave::after {
    content: "";
    position: absolute;
    background-color: #1F3347;
    width: 100%;
    height: 100%;
    animation: wave 13s ease-in infinite;
    border-radius: 45%;

}

/* ------------------ BUTTON ------------------ */

.button {
    width: 14rem;
    padding: 1rem;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color: #f6f6f6;
    background-color: #1F3347;
    border-radius: 5px;
    border: solid 3px #08668b;
    font-size: 1.4rem;
}

#text__button, #next__button {
    overflow: hidden;
    position: absolute;
    top: calc(95% - 6rem);
    left: calc(50% - 6rem);
    word-spacing: 0.5rem;
}

#text__button {
    z-index: 1;
    animation: show-text 2s ease-in-out 1 forwards;
}

#next__button {
    animation: show-next 2s ease-in-out 1 forwards;
    text-align: center;
    width: 11.4rem;
    text-decoration: none;
}

.button:hover {
    background-color: #08668b;
    border: solid 2px #08668b;
}

/* ------------------ ANIMATIONS ------------------ */

@keyframes wave {
    0% {
        transform: translateY(-30%) rotate(0) scale(1.6);
    }

    50% {
        transform: translateY(-143%) rotate(500deg) scale(1.6);
    }

    100% {
        transform: translateY(-30%) rotate(0) scale(1.6);
    }
}  

@keyframes appear {
    from {
        transform: translateY(0);
        opacity: 0;
    }

    to {
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes show-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show-next {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




