@import url(animations.css);

main {
    display: flex;
    align-items: start;
    margin-top: 14vh;
    height: calc(100% - 14rem);
}

/* -------------- GOOEY -------------- */

.gooey {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    filter: url(#gooey__effect);
    animation: appear 1s ease-in-out 1 forwards;
}

.gooey span {
    width: 8rem;
    height: 8rem;
    background-color: #1899cc;
    border-radius: 50%;
    animation: move 5s ease-in-out infinite;
    cursor: pointer;
    bottom: calc(50% - 14rem);
}

@keyframes move {
    0% {
        margin: 0 1rem;
    }

    50% { 
        margin: 0 -4rem;
    }

    100% {
        margin: 0 1rem;
    }
}

/* -------------- BUTTON -------------- */

#button__change {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: calc(50% - 23rem);
    text-align: center;
    width: 10rem;
    animation: appear 1s ease-in-out 1 forwards;
}

/* -------------- TEXT -------------- */

.content__change {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}


.content__text {
    width: 60%;
    animation: appear 1s ease-in-out 1 forwards;
}




